<div class="w-full h-auto bottom-0 p-4" style="background-color: #f5f5f5;">
    <div class="flex flex-wrap">
        <div class="md:w-1/3 lg:w-1/3">
            <div class="px-6">
                <h3 class="text-xl font-semibold text-gray-800">Tentang Kami</h3>
                <p>Kumpulan daftar restoran dari seluruh Indonesia</p>
                <div class="py-8">
                    <div class="inline-block">
                        <img src="assets/images/noodle.svg" class="float-left" alt="" width="24px"> 
                        <span class="ml-2 tracking-wider text-lg logo-text">ListResto</span>
                    </div>
                </div>
                <div class="text-sm">
                   <div class="py-2">
                    <i class="fas fa-map-marker-alt text-gray-900"></i><span class="text-gray-700 ml-1 text-xs">Basecamp</span><br>
                    JL.IR.H.Juanda(Komplek percetakan ALS)
                   </div>
                    <div class="py-2">
                        <i class="fas fa-phone-alt"></i><span class="text-gray-700 ml-1 text-xs">Contact</span><br>
                        +6282321158479
                    </div>
                </div>
            </div>
        </div>
        <div class="md:w-1/3 lg:w-1/3">
            <div class="px-6">
                <a href="#">
                    <div class="rounded px-4 py-4 mt-2 hover:bg-gray-200">
                        <i class="fas fa-hashtag text-xl text-blue-500"></i>
                        <p class="font-semibold text-lg">Ikuti Challenge Terbaru Dan Terpopuler Seputar Masakan</p>
                        <div class="py-4 text-gray-800">
                            Yuk daftar sekarang dan jadilah juara! <br>
                        </div>
                        <span class="text-blue-400 mt-4 font-semibold">Daftar</span><i class="fas fa-angle-right ml-4 text-blue-400"></i>
                     </div>
                </a>
            </div>
        </div>
        <div class="md:w-1/3 lg:w-1/3">
           <div class="px-6">
                <h3 class="text-xl font-semibold text-gray-800">Serba-serbi</h3>
                <form action="">
                    <p class="text-xs">Subscribe untuk mendapatkan pemberitahuan tentang resep terbaru & terpopuler</p>
                    <input type="text" name="subscribe" id="subscribe" class="rounded shadow-sm py-1 px-1 mt-1 border border-gray-400" placeholder="Email kamu">
                    <button type="submit" class="px-3 py-1 bg-blue-500 ml-1 text-white rounded shadow-sm">Submit</button>
                </form>
                <ul class="list-none text-sm my-4">
                    <li>
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fas fa-user-plus"></i> Bergabung untuk berbagi
                        </a>
                    </li>
                </ul>
                <span class="font-semibold text-gray-900">Temukan kita di :</span>
                <div class="flex flex-wrap">
                    <a href="#" class="hover:text-black text-gray-700 pr-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="hover:text-black text-gray-700 px-2">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="#" class="hover:text-black text-gray-700 px-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="w-100 border my-4">
    <p class="tracking-wider text-xs px-4">Copyright © {{ year }} Mohammad Arfan</p>
</div>