<div class="flex flex-wrap h-full overflow-auto">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" type="ball-clip-rotate" size="medium" color="#fff" [fullScreen]="false">
        <p class="text-base text-white" #loadIndicator>Loading...</p>
    </ngx-spinner>
    <div class="hidden md:block lg:block md:w-2/5 lg:w-2/5 h-full" style="background-image: url(assets/images/tahugejrot.jpg); background-repeat: no-repeat;background-size: cover; ">
        <div class="flex items-center justify-center h-full" style="background-color:#2ecc71; background-color: rgba(46, 204, 113, 0.8);">
            <img src="assets/images/noodle.svg" alt="" width="48px" class="mr-3">
            <div class="text-4xl text-white">
                <span class="logo-text">ListResto</span>
            </div>
        </div>
    </div>
    <div class="w-full md:w-3/5 lg:w-3/5 h-full flex flex-col justify-center md:px-10 lg:px-12 px-6">
        <div class="mb-8 text-blue-500 text-sm">
          <a routerLink="/">
            <i class="fas fa-angle-left mr-2"></i> Kembali
          </a>
        </div>
        <div class="rounded bg-red-400 px-2 py-2 animate__animated animate__fadeInUp text-sm mb-4"
          [ngClass]="{'hidden': !errorStatus.isError, 'block': errorStatus.isError}">
          <p class="text-white" *ngFor="let message of errorStatus.messages">{{ message }}</p>
        </div>
        <div class="mb-4">
          <h2 class="text-4xl font-bold mb-1">Login Admin</h2>
          <span class="text-sm">Silahkan login dengan akun anda untuk melanjutkan</span>
        </div>
        <form class="w-full" [formGroup]="loginForm" (submit)="login()">
          <div class="input-group">
            <input class="input border border-gray-400 rounded w-full px-3 py-2 focus focus:border-indigo-600 focus:outline-none 
                        active:outline-none active:border-indigo-600" id="email" type="text" autofocus
              [ngClass]="{ 'filled' : control.email.value.length > 0 }" formControlName="email" autocomplete="off"
              placeholder="Email">
          </div>
          <div class="input-group">
            <input class="input border border-gray-400 rounded w-full px-3 py-2 focus focus:border-indigo-600 focus:outline-none
                        active:outline-none active:border-indigo-600 mb-4" id="password" type="password" autofocus
              [ngClass]="{ 'filled' : control.password.value.length > 0 }" formControlName="password"
              placeholder="Password">
          </div>
          <button type="submit" class="bg-blue-500 w-full py-2 text-white rounded shadow">Login</button>
        </form>
      </div>
</div>