<div class="container-form">
  <div class="card-form">
    <div class="row-form">
      <div class="mb-6">
        <h4 class="text-3xl font-bold">Buat Restoran Baru</h4>
        <p class="text-sm text-gray-700">Input restoran baru untuk ditampilkan pada halaman restoran terfavorit</p>
      </div>
      <form [formGroup]="form">
        <div class="input-group mb-4">
          <label for="name">Nama Restoran</label>
          <input type="text" name="name" id="name" class="px-2 py-1 border border-gray-300
                    focus:outline-none focus:border-blue-500 rounded" formControlName="name">
          <p *ngIf="controls.name.touched && controls.name.errors!.required" class="text-xs text-red-500">Nama
            restaurant belum diisi</p>
        </div>
        <p class="text-blue-500 mb-4">Jadwal buka</p>
        <div formArrayName="openschedules">
            <div class="flex flex-wrap" *ngFor="let dynamic of schedules.controls; let i=index" [formGroupName]="i">
                <div class="input-group">
                    <label for="hari" class="text-sm mb-1">Hari</label>
                    <select name="start" formControlName="startday" id="" class="p-2 mr-3 text-sm border border-gray-300 rounded">
                        <option value="" selected>Pilih Hari</option>
                        <option value="Sun">Sunday</option>
                        <option value="Mon">Monday</option>
                        <option value="Tue">Tuesday</option>
                        <option value="Wed">Wednesday</option>
                        <option value="Thu">Thursday</option>
                        <option value="Fri">Friday</option>
                        <option value="Sat">Saturday</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="hari" class="text-sm mb-1">Sampai</label>
                    <select name="end" formControlName="endday" id="" class="p-2 mr-3 text-sm border border-gray-300 rounded">
                        <option value="" selected>Pilih Hari</option>
                        <option value="Sun">Sunday</option>
                        <option value="Mon">Monday</option>
                        <option value="Tue">Tuesday</option>
                        <option value="Wed">Wednesday</option>
                        <option value="Thu">Thursday</option>
                        <option value="Fri">Friday</option>
                        <option value="Sat">Saturday</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="open" class="text-sm mb-1">Buka</label>
                    <input type="time" name="open" id="open" class="px-2 py-1 border border-gray-300
                    focus:outline-none focus:border-blue-500 rounded" formControlName="open">
                </div>
                <div class="input-group">
                    <label for="closed" class="text-sm mb-1">Tutup</label>
                    <input type="time" name="closed" id="closed" class="px-2 py-1 border border-gray-300
                    focus:outline-none focus:border-blue-500 rounded" formControlName="closed">
                </div>
            </div>
        </div>
        
      </form>
    </div>
    <div class="row-image">
      <img src="assets/images/chef.svg" alt="chef" class="w-full">
    </div>
  </div>
</div>
